.sigin-wrap{
    background-image: url(https://img.freepik.com/free-vector/hand-drawn-fashion-shop-pattern-background_23-2150849923.jpg?w=2000&t=st=1715635018~exp=1715635618~hmac=855c8e5feb7df10f84d284253234500d5757c3a61c4498a996713f81f1b5bb82);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}